{% extends "layout/init.html" %}

{% block content %}
<h1 class="mb-4 text-center">Suggestions</h1>
<div class="container">
    <div class="row justify-content-center">
        {% for i in range(section_names|length) %}
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ section_names[i] }}</h5>
                    <p class="card-text text-muted">{{ suggestions[i] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
