<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>{% block title %}WolfTrack{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WolfTrack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/student/analyze_resume">Analyze Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="/student/job_search">Search Jobs Online</a></li>
                    <li class="nav-item"><a class="nav-link" href="/student/job_profile_analyze">Skill Check</a></li>
                    <li class="nav-item"><a class="nav-link" href="/chat_gpt_analyzer">Resume Suggestions</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Body Content -->
    <div class="container-fluid mt-5 pt-3">
        {% block content %}
        <!-- Dynamic content goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer footer-custom mt-auto py-3 text-center">
        <div class="container">
            <span>&copy; 2024 WolfTrack. All rights reserved.</span>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
